body {
  margin: 0;
  padding: 0;
}

.img-item {
  width: 100%;
  height: calc(100vh - 80px); /* Calcula el 33% del viewport height y resta 40px para compensar el espacio del encabezado */
  object-fit: cover;
}

.titulo-pagina {
  text-align: center;
}

.listado {
  margin-top: 20px;
}

h2, h3 {
  margin-top: 20px;
}

ol {
  margin-left: 20px;
}
