body {
  margin: 0;
  padding: 0;
}

.img-item {
  max-width: 100%;
  height: auto; /* Calcula el 33% del viewport height y resta 40px para compensar el espacio del encabezado */
  object-fit: cover;
}

.titulo-pagina {
  text-align: center;
}

.listado {
  margin-top: 20px;
}

h2, h3 {
  margin-top: 20px;
}

ol {
  margin-left: 20px;
}
.churro{
  padding-top: 150px;
}