body{
    background-color: #ECDBC9;
    font-size: medium;
    font-family: Poppins;
}
  h1{
   
    text-align: center;
 }
  .img-item {
    width: 460px;
    height: 350;
    display: block;
    margin: 0 auto;
  }