/* Estilos CSS para el carrito de compras */

.modal {
  display: none;
  position: fixed;
  font-family:'Poppins', sans-serif;
  z-index: 1;
  left: 0;
  top: 0;
  margin-top: 10px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-contenido {
  background-color: #fff9f3;
  margin: 10% auto;
  color: #0E4950;
  font-family:'Poppins', sans-serif;
  padding: 50px;
  border-radius: 8px;
  width: 100%;
  max-width: 650px;
}
h2{
  text-align: center;
  color: #0E4950;
  font-weight: bolder;
  margin-bottom: 25px;
}

#total-carrito{
  text-align: center;

}

.cerrar-modal {
  color: #CBA609;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.cerrar-modal:hover,
  .cerrar-modal:focus {
    color: #0E4950;
    text-decoration: none;
    cursor: pointer;
  }

#carrito-items {
  display: grid;
  grid-template-columns:repeat(1, 3fr);
}

.carrito-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

 /* Estilos para el encabezado del carrito */
.encabezado-carrito {
  font-weight: bold; 
  background-color: #fff9f3;
  color: #0E4950; 
  padding: 5px; 
  gap: 5px;
  text-align: center;
}

/* Estilos para los botones de eliminar */
.eliminar-btn{
  color: #0E4950;
  border: none;
  padding: 0;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
}
.eliminar-btn:hover {
  color: red;
  background-color: #fff9f3;
}

#comprar-btn {
  background-color: #0E4950;
  color: #CBA609;
  border: none;
  font-family:'Poppins', sans-serif;
  margin: 8px;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

#comprar-btn:hover {
  background-color: #837710;
}

.eliminar-all{
  background-color: #CBA609;
  color: #0E4950;
  border: none;
  font-family:'Poppins', sans-serif;
  margin: 8px;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  
}
.eliminar-all:hover{
  background-color: #837710;

}

.contador-btn{
  background-color: #0E4950;
  color: #fff9f3;
}
.contador-btn:hover{
  color: #0E4950;
  background-color: #CBA609;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
  .carrito-modal-content {
    width: 80%;
  } 
  .titulo-pagina{
      padding-top: 120px;
  }
}

