/*Inicia estilos de Canasta*/

.cart {
    position: fixed;
    top: 0;
    /*right: -100%;*/
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: #ecdbc9;
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s;
}
.cart-active{
    right: 0;
}
.cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
    color: #0e4950;
}
.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
    
.cart-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 15px;
}
.detail-box{
    display: flex;
    row-gap: 0.5rem;
    justify-content: center;
}
.cart-product-title{
    font-size: 1rem;

}
.cart-price{
    font-weight: 500;
    margin-inline-end: 15px;
    margin: 15px 15px;
}
.cart-quantity {
    border: 1px solid #CBA609; 
    outline-color: #CBA609; 
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
    }
    
.cart-remove {
    font-size: 24px;
    color: #0e4950;
    cursor: pointer;
    }
.total{
    display: flex;
    justify-content: flex-end; 
    margin-top: 1.5rem; 
    border-top: 3px solid #CBA609;
   
    }
        
.total-title {
    font-size: 1rem;
    font-weight: 600;
    font-weight: lighter;
    }
        
.total-price {
    margin-left: 0.7rem;
    }

.btn-buy {

    display: flex;
    margin: 1.5rem 4rem 0 auto; 
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    background: #CBA609;
    color: #fff9f3;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;

    }
.btn-buy:hover {
    background: #0e4950;
}

#close-card{
position: absolute;
top: 1rem;
right: 0.8rem;
font-size: 1.5em;
color: #0e4950;
cursor: pointer;
}

