body {
    background-color: #ECDBC9;
    line-height: 1.6;
    /*padding: 0 1.5px;*/
}
/*.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5px;
}*/

div.content{
    padding-top: 165px ;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 30px;
}

.logo1 {
    color: #0E4950;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    padding: 0 0 20px 0px;
}
.contacto-agrupado > * {
    box-shadow: 0px 0px 20px 0px #CBA609; /* #0E4950*/
    border-radius: 25px;
    padding: 1px;
}

.contact-form {
    background: #fff9f3;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    min-width: 300px;
    color: #0E4950;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #0E4950; 
    border-radius: 25px;
}

.contact-form form label {
    display: block;
    /*color: #0E4950;*/
}

.contact-form form p {
    margin: 0;
    padding: 1em;
    color: #0E4950; 
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #0E4950;
    border-bottom: 1px solid #CBA609;
}

.contact-form form button {
    background: #CBA609;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
    border-radius: .5em;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #0E4950;
    color: #CBA609;
    transition: background-color 1s ease-out;
    outline: 0;
}

/* Estilos del modal */
.modal {
    display: none; /* Por defecto, el modal estará oculto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro semitransparente */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* Estilo para el botón "Cerrar" del modal */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-content {
    background-color: #0E4950;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #f2f2f2;
    width: 80%;
    max-width: 600px; 
    box-sizing: border-box; 
    position: relative; 
    font-size: 28px;
  }
  
  /* Estilo para el botón "Cerrar" del modal */
  .close {
    color: #CBA609;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #CBA609;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Texto dorado centrado */
  .modal-content p {
    text-align: center;
    color: #CBA609;
  }


/* Tamaño formulario */
@media(min-width: 768px) {
    body {
        padding: 0;
        
    }
    
    .contacto-agrupado {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
        padding: 2em;
        max-width: 700px;
        width: 100%;
        margin: 0 auto;
    }
    .contacto-agrupado > * {
        padding: 2em;

    }
    /*.NavBar{
        display: grid;
    }*/
    
}

.help-block {
    color: #cc3333
}