
/* */


body {
    background-color: #ECDBC9;
    color: #0E4950;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
    padding: 0 1.5px;
}
/*.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5px;
}*/

div.content{
    padding-top: 165px ;
    margin-left: 1rem;
    margin-right: 1rem;
}
.logo1 {
    color: #0E4950;
    text-align: center;

    font-size: 2.5em;
}
.contacto-agrupado > * {
    box-shadow: 0px 0px 20px 0px #CBA609; /* #0E4950*/
    border-radius: 25px;
    padding: 1px;
}

.contact-form {
    background: #fff9f3;
    min-width: 300px;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form label {
    display: block;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}


.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #0E4950;
    border-bottom: 1px solid #CBA609;
}

.contact-form form button {
    background: #CBA609;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #0E4950;
    color: #CBA609;
    transition: background-color 1s ease-out;
    outline: 0;
}

/* Tamaño formulario */
@media(min-width: 768px) {
    body {
        padding: 0;
        
    }
    
    .contacto-agrupado {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
        padding: 2em;
        max-width: 700px;
        width: 100%;
        margin: 0 auto;
     }
    .contacto-agrupado > * {
        padding: 2em;

    }
    /*.NavBar{
        display: grid;
    }*/
    
}