/* Carrusel */
.carrousel{
  width:90%;
  position: static;
  max-width: 120em;
  padding:2em;
  overflow: hidden;

}
.carrousel-slide{
  width: 200%;
  position: static;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding:5em 0 0 7em;
  gap: 11em;


  transition: all .3s ease;
  transform: translateX(0%);
}
.carrousel .img{
  position: static;
  width: calc( 100% / 2  - 2em);
  min-height: 30vh;
  width: 1000px;
  height: 380px;
}
.carrousel .flechas{
  width:100%;
  margin:1em 0;
  position: static;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border: #CBA609;
  
}
.carrousel .flecha{
  width:  2em;
  height: 2em;
  position: static;
  padding: 0 0 0 3em;
  align-items: center;
  z-index: auto;
  
}

#Atras{
  width: 35px;
  height: auto;
  
}

#Adelante{
  width: 35px;
  height: auto;

}

/* imagen popocatepetl*/

  .img-section{
    max-width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
    padding: 2em 0 0 3em; 
  }

  .img-container{
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
  }
  .img-home{
    width: 700px;
    height: 600px;
  }
      
  .texto{
    font-family: 'Poppins', sans-serif;
    color: #fff9f3;
    position: absolute;
    text-align: justify;
    width: 130%;
    height: 40%;
    font-size: 30px;
    left: 80%;
    top: 95%;
    transform: translate(-50%,-50%);

   }

/*inicia Swiper productos*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Tinos', serif;
  z-index: 100;
}

.titulo-swiper {
  font-size: 60px;
  margin-bottom: 20px;
  text-align: center;
  color: #0E4950; 

}
.swiper{
  position: static;
  width: 20%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.swiper-slide{
  position: static;
  background-position: center;
  background-size: cover;
  width: 100%;
}
.swiper-slide img{
  position: static;
  display: block;
  width: 100%;
  height: auto;
}
#licor-pera{
height: 450px;
}

.swiper-button-prev{
  color: #CBA609;
margin-left: -15%;
}
.swiper-button-next{
  color: #CBA609;
  margin-right: -15%;
}

/* Inicia recetas */
.contenedor-items{
  z-index: 100;

}
.item{
  z-index: 100;
}
#Recetas-home{
  padding-top: 20px;
  font-size: 60px;
  margin-bottom: 20px;
  text-align: center;
  color: #0E4950;

}

/* Medidas responsivas 

@media screen and (min-width: 768px) {
  body {
   display: grid;
   grid-template-columns: 2fr;
   max-width: 50%;
   width: 50%;
   height: auto;

  }
  .Navbar{
    display: grid;
    grid-template-columns: 12;
    max-width: 100%;

  }
}
@media screen and (max-width: 767px){
  .carrousel {max-width: 100%;
  }

}

@media screen and (max-width: 480px){

}
  .carrousel {
   
  }
  .img-section{
  

  }
  .swiper-conteiner{
    

  }
  .Recetas-home{
    

  }
  .contenedor{
   
  }*/