/* Carrusel */
.carrousel{
  width:90%;
  max-width: 120em;
  padding:2em;
  overflow: hidden;

}
.carrousel-slide{
  width: 200%;
  
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding:5em 0 0 7em;
  gap: 11em;

  transition: all .3s ease;
  transform: translateX(0%);
}
.carrousel .img{
  width: calc( 100% / 2  - 2em);
  min-height: 30vh;
  width: 1000px;
  height: 380px;
}
.carrousel .flechas{
  width:100%;
  margin:1em 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border: #CBA609;
}
.carrousel .flecha{
  width:  2em;
  height: 2em;
  padding: 0 0 0 3em;
  align-items: center;
  
}

#Atras{
  width: 30px;
  height: auto;
}

#Adelante{
  width: 30px;
  height: auto;
}

/* imagen popocatepetl*/
.img-home{
  width: 100%;
}
#img-home {
  width: 1000px;
  height: auto;
  margin: auto;
  display: block;
  padding: 10px 10px 20px 10px;
}

/*inicia Swiper productos*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Tinos', serif;
}

.container{
  max-width: 100%;
  margin: 0;
}

.productos-container{
  padding: 0 0 0 0;
}
.productos-container h2{
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
  color: #0E4950; 
}
.swiper{
  width: 20%;
  align-items: center;
  justify-content: center;
}
.swiper-slide{
  background-position: center;
  background-size: cover;
  width: 100%;
}
.swiper-slide img{
  display: block;
  width: 100%;
  height: auto;
}

.swiper-button-prev{
  color: #CBA609;
margin-left: -15%;
}
.swiper-button-next{
  color: #CBA609;
  margin-right: -15%;
}

/* Inicia recetas */
#Recetas-home{
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
  color: #0E4950;

}

@media(max-width:991px) {
  body {
      min-height: 0vh;
      display: grid;
  }
  .productos-container{
      padding: 30px;
  }
}