@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Ubuntu:wght@300&display=swap');

body{
    font-family:'Poppins', sans-serif;
    color: #0e4950;
    font-size: 20px;
}

.bg{
    background-image: url(../assest/img/cuenta/loginV2.jpeg);
    background-position: center;
    border-top-left-radius:25px;
    border-bottom-left-radius:25px;
    background-repeat: no-repeat;
    width:5;
}

.row{
    margin-top:50px; /*Tomar en cuenta al momento de juntar los componentes de navbar y footer*/
    box-shadow:0px 0px 20px 0px #CBA609;
    border-radius: 25px;
    background:#fff9f3;
}

#form-input {
    background: none;
    color: #0e4950;
    font-size: 1em;
    border: none;
    outline: none;
    border-bottom: 1px solid #CBA609;
}

.form-check-input{
    border:1px solid #CBA609;
}

.btn-button:hover,
.btn-button:focus{
    background: #0e4950;
    color: #CBA609;
    transition:background-color 1s ease-out;
    outline: 0;
}



