/* Estilos para Mis Compras */
/*Inicia estilos de Canasta*/

*{
  font-family: "Poppins",sans-serif;
  margin: 0;
  padding: 0;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
--main-color:#CBA609;
--text-color: #0E4950;
--bg-color: #ECDBC9;
}
img{
  width: 10%;
}
body{
  color: var(--text-color)
}
section{
padding: 4rem 0 3rem;

}
header{
  position: fixed;
  top: 0;
  left: 0; 
  width: 100%;
  background: var(--bg-color);
  box-shadow: 1px 4px hsl(0 4% 15% / 10%);
  z-index: 100;
}
#cart-icon{
  font-size: 1.8rem;
  cursor: pointer;
}
.section-title{
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
}
.shop{
  margin-top: 2rem;
}
/*shop-content*/
.shop-content{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(220px, auto));
gap: 1.5rem;
}
.product-box{
position: relative;
}
.product-box:hover{
  padding: 10px;
  border: 1px solid var(--text-color);
  transition: 0.4s;
}
.img-item{
  width: 150px;
  height: auto;
  margin-bottom: 0.5rem;
}
.title-product{
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.price{
  font-weight: 500;
}
.add-cart{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #0e4950;
  color: #CBA609;
  padding: 10px;
  cursor: pointer;
}