body {
    background-color: #ECDBC9;
}

@media (max-width:768px) {
    header label {
        display: block;
    }
}   

h1 {
    color: black;
    text-align: center;
    font-family: 'Tinos', serif;
    font-size: bolder;
}

#Nosotros {
    max-width: 100%; 
    height: auto;
    display:flex;
    justify-content: center;
    border-radius: 20%;
    text-align: center;
   }

#P1{
    font-family: 'Poppins', sans-serif;
    color: black;
    text-align: center;
}

#P2 {
    font-family: 'Poppins', sans-serif;
    color: black;
    text-align: left;
    max-width: 100%; 
    height: auto
}

#P3{
    font-family: 'Poppins', sans-serif;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%; 
    height: auto
}

