body {

    background-color: #ECDBC9;

}

h1 {
    color: black;
    text-align: center;
    font-family: 'Tinos', serif;
}

#P1 {
    color: aqua;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-align: right;
}

#Nosotros {
    width: 500px;
    display:grid;
    justify-content: center;
    align-items: center;
}

#RecolectandoFruta {
    width: 400px;
    display:grid;
    place-items: center;
}

#Fruta {
    width: 300px;
    overflow: hidden;
}