body {
    background-color: #ECDBC9;
}

h1 {
    color: black;
    text-align: center;
    font-family: 'Tinos', serif;
    
}

#P1{
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-align: right;
}

#Nosotros {
    width: 500px;
    display:grid;
    justify-content: left;
    align-items: left;
    border-radius: 10%;
}

#P2 {
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-align: right;

}

#Fruta1 {
    width: 400px;
    display:flex;
    place-items: right;
    justify-content: right;
    align-items: right;
    border-radius: 10%;
}

#P3{
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}