/*Navbar Styles
body{
   
    background-size:contain;
    background-color: #ECDBC9;
    background-repeat:initial;
    background-position: center;
    position:relative;
    font-family: 'Montserrat';
    margin: 0;
}


#navbarNav,.container{
      
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #0E4950;
}

.logo{
    justify-content: center;
}

hr.new1 {
    border: 1px solid  #CBA609;
  }
a .icon:hover{
    
    scale: 1.2;
    transition: 0.3s;
    
}
  

.Navbar {
  position:fixed;
    width: 100%;
    background: #0E4950;
}

#btn-menu {
    display: none;
}

header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #CBA609;
}

header label:hover {
    cursor: pointer;
    background: rgba(0,0,0,0.3);
}

.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}


.menu li{
    
    text-align: center;
    flex-grow: 1;
}

.menu li a {
    
    display: block;
    padding: 15px 25px;
    color: #fff;
    text-decoration: none;
    font-size: 19px;
}
 li a:hover {
    color: #CBA609;
    text-decoration: none;
    }

@media (max-width:768px) {
    header label {
        display: block;
    }

    .menu{
        position: absolute;
        background: #0E4950;
        width: 70%;
        margin-left: -70%;
        transition:all 1.5s;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu li {
        border-top: 1px solid #fff;
    }
    #btn-menu:checked ~ .menu {
        margin: 0;
    }
}
*/
/*Productos*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@100&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;

}

.productos {
    
    background: url(../assest/img/Volcan.jpeg);
    background-size:cover;
    background-position:center;
    width: 100%;
    height: 300px;
    padding-top: 120px;
    object-fit: cover;
    object-position: bottom;
    
    
}
.titulo-pagina{
    
    text-align: center;
    font-size: calc(1.2em + 6vw);
    color: #fff;
    padding: 65px 30px;
}
.titulo-producto{
    text-align:center;
    font-size: calc(1.2em + 6vw);
    color: #0E4950;
    padding: 50px 30px;

}

header h1{
    text-align: center;
    font-size: 90px;
    color: #fff;
    padding: 30px 30px;
}

.contenedor{
    
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}

.contenedor .contenedor-items{
    
    margin-top: 30px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    row-gap: 30px;
    width: 100%;
    transition: 0.3s;
    padding: 10px;
    
}

.contenedor .contenedor-items .item{
    max-width: 230px;
    
    margin: auto;
    border: none;
    border-radius: 30px;
    padding: 20px 60px;
    transition: .3s;
    background: #fff9f3;
}
.contenedor-items .item:hover{
    box-shadow:  0 0 10px #CBA609;
    /*scale: 1.05;*/
    
}
.contenedor-items .item .img-item{
    width:100%;
    height:235px;
    
}

.contenedor-items .item .titulo-item{
    display:block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    
}
.contenedor-items .item .precio-item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    margin: 10px auto;
    border: none;
}

.contenedor-items .item .botton-item{
    display: block;
    margin: 10px auto;
    border:none;
    background:#837710;
    border-radius: 10px;
    color: #fff;
    width: 100%;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
    
}
.contenedor-items .item .botton-item:active {
        transform: scale(0.98);
        /* Scaling button to 0.98 to its original size */
        box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
        /* Lowering the shadow */
}