

*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;

}

.productos {
    background: url(../assest/img/Volcan.jpeg);
    background-size:cover;
    background-position:center;
    width: 100%;
    height: 300px;
    padding-top: 120px;
    object-fit: cover;
    object-position: bottom;    
}

.titulo-pagina{
    
    text-align: center;
    font-size: calc(1.2em + 6vw);
    color: #fff;
    padding: 65px 30px;
}
.titulo-producto{
    text-align:center;
    font-size: calc(1.2em + 6vw);
    color: #0E4950;
    padding: 50px 30px;

}

header h1{
    text-align: center;
    font-size: 90px;
    color: #fff;
    padding: 30px 30px;
}

.contenedor{
    
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}

.contenedor .contenedor-items{
    
    margin-top: 30px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    row-gap: 30px;
    width: 100%;
    transition: 0.3s;
    padding: 10px;
    
}

.contenedor .contenedor-items .item{

    max-width: 280px;

    margin: auto;
    border: none;
    border-radius: 30px;
    transition: .3s;
    background: #fff9f3;
}


.contenedor-items .item:hover{
    box-shadow:  0 0 10px #666;
    /*scale: 1.05;*/
    
}
.contenedor-items .item .img-item{
    width:100%;
    height:235px;

    border-radius: 30px 30px 0 0;

    
}

.contenedor-items .item .titulo-item{
    display:block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;

    font-size: 22px;

}
.contenedor-items .item .precio-item{
    display: block;
    text-align: center;
    font-weight: bold;

    font-size:12px;

    margin: 10px auto;
    border: none;
}

.contenedor-items .item .botton-item{
    display: block;
    margin: 10px auto;
    border:none;
    background:#837710;

    border-radius: 10px ;
    color: #fff;
    width: 50%;

    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
}
.letro{
    font-size: medium;
   color: #fff;
    
}
/* Estilos para pantallas grandes */
@media screen and (min-width: 768px) {
    /* Estilos para la barra de navegación */
    .Navbar {
      /* Agrega los estilos que deseas para la barra de navegación en pantallas grandes */
    }
    
    /* Estilos para los elementos de las recetas */
    .item {
      /* Agrega los estilos que deseas para los elementos de las recetas en pantallas grandes */
    }
  }
  
  /* Estilos para pantallas medianas */
  @media screen and (max-width: 767px) {
    /* Estilos para la barra de navegación */
    .Navbar {
      /* Agrega los estilos que deseas para la barra de navegación en pantallas medianas */
    }
    
    /* Estilos para los elementos de las recetas */
    .item {
      /* Agrega los estilos que deseas para los elementos de las recetas en pantallas medianas */
    }
  }
  
  /* Estilos para pantallas pequeñas */
  @media screen and (max-width: 480px) {
    /* Estilos para la barra de navegación */
    .Navbar {
      /* Agrega los estilos que deseas para la barra de navegación en pantallas pequeñas */
    }
    
    /* Estilos para los elementos de las recetas */
    .item {
      /* Agrega los estilos que deseas para los elementos de las recetas en pantallas pequeñas */
    }
  }
  