@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Ubuntu:wght@300&display=swap');

.container{
    width: 200%;
}
.container1{
    font-family:'Poppins', 'sans-serif';
    color: #0e4950;
    font-size: 20px;
    box-shadow:0px 0px 20px 0px #CBA609;
    border-radius: 25px;
    width:100%;
    background:#fff9f3;
}

#form{
    padding: 5% 0 5% 0;
    margin: 0 5% 0 5%;
}

h1{
    font-size: 60px;
}

#name{
    background: none;
    color: #0e4950;
    font-size: 1em;
    border: none;
    outline: none;
    border-bottom: 1px solid #CBA609;
}

#lastname{
    background: none;
    color: #0e4950;
    font-size: 1em;
    border: none;
    outline: none;
    border-bottom: 1px solid #CBA609; 
}

#email{
    background: none;
    color: #0e4950;
    font-size: 1em;
    border: none;
    outline: none;
    border-bottom: 1px solid #CBA609; 
}

#password{
    background: none;
    color: #0e4950;
    font-size: 1em;
    border: none;
    outline: none;
    border-bottom: 1px solid #CBA609;
}

#boton{
    background: #CBA609;
    color:#0e4950;
    border: none;
    padding:3px 10px 3px 10px;
    margin-bottom:15px;
}

#boton:hover, #boton:focus{
    background: #0e4950;
    color: #CBA609;
    transition:background-color 1s ease-out;
    outline: 0;
}

#btn-password{
    margin-bottom: 15px;
    border: none;
    background: none;
    color: #0e4950;
}

.help-block {
    color: #cc3333
}

